/* Homepage nav bar */

body{
    background-color: #131516;
}

.nav-bar.home{
    list-style: none;
    padding: 16px;
    padding-left: 0px;
    background-color: #333;
    margin-bottom: 24px;
    border: 1px solid grey;
  
}

.nav-bar.home .link1,
.nav-bar.home .link2,
.nav-bar.home .link3{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    padding: 16px; 
    /* border-right: grey solid 1px; */
    box-sizing: border-box;
}

/* Social media icons */
.nav-bar.home .twitch{
    float: right;
    padding-left: 24px;  
    font-size: 24px;
    color: white;
    
}
.nav-bar.home .reddit{
    float: right;
    padding-left: 24px;
    font-size: 24px;
    color: white;
}

.nav-bar.home .yt{
    float: right;
    padding-left: 24px;
    font-size: 24px;
    color: white;
}


.nav-bar.home .twitch:hover ion-icon,
.nav-bar.home .reddit:hover ion-icon,
.nav-bar.home .yt:hover ion-icon{
    opacity: 0.25;
   

}

.nav-bar.home .link2{
    margin-left: -3px;
}
.nav-bar.home .link3{
    margin-left: -4px;
}

.nav-bar.home .link1:hover,
.nav-bar.home .link2:hover,
.nav-bar.home .link3:hover{
    color: grey;
    background-color: black;
    opacity: 0.5;
}




.container{ 
    width: 400px;
    margin: auto;
    
}
.about-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    font-weight: bold;
    color: whitesmoke;
   
    
    
 
}

/* About nav bar */

.nav-bar.about{
    list-style: none;
    padding: 24px;
    padding-left: 0px;
    background-color: #333;
  
}

.nav-bar.about a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    padding: 24px; 
    
}


.nav-bar.about .link1:hover,
.nav-bar.about .link2:hover,
.nav-bar.about .link3:hover{
    background-color: black;

}


