/* Homepage nav bar */

body{
    background-color: #131516;
}

.nav-bar.home{
    list-style: none;
    padding: 16px;
    padding-left: 0px;
    background-color: #333;
    margin-bottom: 24px;
    border: 1px solid grey;
  
}

/* Links for nav bar to diff pages */

.nav-bar.home .link1,
.nav-bar.home .link2,
.nav-bar.home .link3{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    margin: 16px; 
    box-sizing: border-box;
}
   

.nav-bar.home .link2{
    margin-left: -3px;
}
.nav-bar.home .link3{
    margin-left: -4px;
}

/* Effects when hover over links */
.nav-bar.home .link1:hover,
.nav-bar.home .link2:hover,
.nav-bar.home .link3:hover{
    filter: blur(2px);
    
    
}


/* Social media icons */

.nav-bar.home .twitch,
.nav-bar.home .reddit,
.nav-bar.home .yt,
.nav-bar.home .twitter{
    float: right;
    margin-left: 24px;
    font-size: 24px;

}
.nav-bar.home .twitch{
    color: #9146FF;
    
    
}
.nav-bar.home .reddit{
    color: #ff4500	;
    
}

.nav-bar.home .yt{
    color: #cd201f;
    
    
}

.nav-bar.home .twitter{
    float: right;
    margin-left: 30px;
    font-size: 24px;
    color: #55acee	;
}

/* Effects when hovered */

.nav-bar.home .twitch:hover ion-icon,
.nav-bar.home .reddit:hover ion-icon,
.nav-bar.home .yt:hover ion-icon,
.nav-bar.home .twitter:hover ion-icon{
    filter: blur(2px);
    
   

}


.container{ 
    width: 400px;
    margin: auto;
    
}
.about-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    font-weight: bold;
    color: whitesmoke;
   
    
    
 
}

/* About nav bar */

.nav-bar.about{
    list-style: none;
    padding: 24px;
    padding-left: 0px;
    background-color: #333;
  
}

.nav-bar.about a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    padding: 24px; 
    
}


.nav-bar.about .link1:hover,
.nav-bar.about .link2:hover,
.nav-bar.about .link3:hover{
    background-color: black;

}

.parent-container{
    border: 5px black;
}


